@import "../partials/variablen";



// Tabelle

article.preis-kategorien {
  padding-left: 30px;
  padding-right: 30px;
}

table.preis-kategorien {
  position: relative;
  width: 100%;
  padding: 20px;

  tr > th,
  tr > td {
    padding: 3px;
    border: none;
}

  td.legende,
  th.kategorie,
  td.reihen,
  td.preis {
    background-color: white;
}

  tr:hover {

    td.legende,
    th.kategorie,
    td.reihen,
    td.preis {
      background-color: rgba(255, 255, 255, 0.8);
  }
    cursor: pointer;
}



  td.legende {
}

  .unterbrecher hr {
    margin: 2px;
    padding: 0;
    cursor: default;
}

  .klein {
    font-size: 0.8em;
}
}

// Allgemeine Informationen

ul.allgemeine-informationen {
  margin: 0;
  padding: 0;
}

ul.allgemeine-informationen li {
  list-style: none;
  margin-bottom: 10px;
  padding: 0 20px;
}

//