.ticket-liste-tag,
.ticket-liste-datum,
.ticket-liste-zeit,
.ticket-liste-info {
  font-size: 20px;

  position: relative;
  display: inline-block;
  min-width: 50px;
  //  border: solid 1px skyblue;
  height: 100%;

}

.ticket-liste-tag {
  padding-left: 10px;
  width: 70px;
  color: gray;
}

.ticket-liste-datum {
  font-weight: bold;
  font-weight: 900;
  width: 80px;
}

.ticket-liste-zeit {
  width: 80px;
  color: gray;

}

.ticket-liste-info {
  font-size: 13px;
  padding: 1px;
  margin: 1px;
}

.ticket-liste-kopf {
  text-align: center;
  border-bottom: solid 2px #6DC8BB;

  h2 {
    text-align: center;

    font-size: 24px;
    color: #6DC8BB;
    margin: 0;
    padding: 0 0 20px 0;
  }

}

.list-group-tickets .list-group-item {
  border: none;
  border-bottom: 2px solid silver;
}

.list-group-tickets .ticket-liste-trenner {
   border: none;
 }

.list-group-tickets{
  border: none;
}