// Farben

$color-tickets-schmuck: #21a08e;

// Rahmen und Flächen

$color-tickets-border-dunkler: #0d0d0d;
$color-tickets-border-dunkel: #3e3e3e;
$color-tickets-border: #5f5f5f;
$color-tickets-border-hell: #d0d0d0;
$color-tickets-border-heller: #EAEAEA;

// Farben Text

$color-tickets-text: #000000;
$color-tickets-text-dunkel: #333333;
$color-tickets-text-mittel: #5f5f5f;
$color-tickets-text-hell: #d0d0d0;
$color-tickets-text-negativ: #ffffff;

// Buttons

$color-tickets-buttons-success: #E1F5CC;
$color-tickets-buttons-success-darker: #c6f5b0; // für kleine Markierungen
$color-tickets-buttons-success-hover: #93c183;

// Farben

$font-tickets: "Lato", SFUIText, "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-tickets-light: "Lato-light", SFUIText-Light, "Muli-lite", "Helvetica Neue", Helvetica, Arial, sans-serif;


$font-tickets-size-kleiner: 10px;
$font-tickets-size-klein: 12px;
$font-tickets-size-normal: 14px;
$font-tickets-size-gross: 16px;
$font-tickets-size-groesser: 18px;
$font-tickets-size-riesig: 20px;