@import "farben";

.plan-toolbox {
  top: -20px;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

#plan-content.uebersicht-modus {
  position: absolute;
  left: 50px;

}

#abschnitt-detail {
  position: relative;
  margin-left: 250px;
}

.abschnitt-detail {

  &-name {
    font-size: 20px;
  }

  &-seite {
    font-size: 18px;
  }

  &-label {
    font-size: 12px;

    display: inline-block;
    width: 50px;
  }

  &-reihe-nummer,
  &-sitz-nummer,
  &-preis {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    display: inline-block;
    width: 40px;

  }

  &-preis {
    font-weight: inherit;
    color: $color-tickets-text-mittel;
    font-family: $font-tickets-light;

  }

}