@import "farben";

.plan-toolbox {
  top: -20px;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

.abschnitt-detail {

  &-abschnitt-name {
    font-size: $font-tickets-size-groesser;
  }

  &-abschnitt-seite {
    font-size: $font-tickets-size-gross;
  }

  &-trenner {
    padding: 0;
    margin: 3px;
    border: none;
    border-bottom: solid 1px $color-tickets-border-hell;

  }
  &-label {
    font-size: $font-tickets-size-klein;
    padding-right: 5px;

  }

  &-reihe-nummer,
  &-sitz-nummer,
  &-preis {
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    text-align: right;
    margin-right: 10px;
  }

  &-preis {
    font-weight: inherit;
    color: $color-tickets-text-mittel;
    font-size: $font-tickets-size-normal;
  }

}

#abschnitt-detail {
  margin-left: 20px;
  height: 150px;
}

#abschnitt-detail,
#plan-ausschnitt-container {
  display: none;
}

// nur bei Ausschnitt-Modus einblenden:

#plan-well.modus-miniplan{

  #abschnitt-detail,
  #plan-ausschnitt-container {
    display: block;

  }




}

// Grid

.plan-row {
  display: flex;
  justify-content: center;
}

.plan-col-center {
}

.plan-col-left {
  display: flex;
  margin-left: auto;
  width: auto;
}

.plan-col-right {
  display: flex;
  margin-right: auto;
  width: auto;
}




