@import "farben";


section.section-ticket{
position: absolute;
display: none;
  width: 100%;

}

section.section-ticket#start-content{
  display: block;
  width: 100%;

}



section.section-ticket {

  // iphone 7 size
  // width: 375px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

  div, p, h1, h2, h3, h4, ul, ol, table, td, th,  a {
    font-family: $font-tickets;
  }

  h1, h3 ul, ol, ul {
    font-family: $font-tickets-light;
  }

  h1 {
    font-size: 30px;
    font-weight: 300;
  }

  h2 {
    font-size: 18px;

    padding: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px silver;
  }

  h3 {
    color: $color-tickets-schmuck;
    font-size: 15px;
    padding-left: 15px;
  }



//  border: 1px solid gainsboro;

  header {

    margin: 0;
    padding: 0;
  }

  article {

    margin: 0;
    padding: 0;
  }

  footer {
    margin: 0;
    padding: 20px;

  }

  // Blöcke ------------------------------

  .block-navigation {
    // border: 1px solid silver;

    // Grösse
    min-height: 44px;
  }

  .block-titel {
    //  border: 1px solid silver;

    // Grösse
    min-height: 50px;

    // Abstand
    margin: 0 20px;
    padding: 10px;

    // Textausrichtung
    text-align: center;
    vertical-align: middle;

    h1 {
      margin: 0;
      padding: 0;
    }
  }

  .block-anleitung {
    // border: 1px solid silver;

    // Grösse
    min-height: 50px;

    // Abstand
    margin: 0 20px 20px 20px;
    padding: 10px;

    // Textausrichtung
    text-align: center;
    vertical-align: top;

    p {
      font-family: "Lato-light", "Lato", SFUIText, "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;

      font-size: 19px;
      line-height: 23px;
      color: $color-tickets-schmuck;

      margin: 0;
      padding: 0;
    }
  }


// Debug ------------------------------

.debug-page-name {
  position: absolute;
  left: 49vw;

  font-size: 12px;

  display: none;

}

// Text Styles --------------------------

.text-klein {
  font-size: 16px;
  color: #333333;
}

.info-normal {
  font-size: 13px;
  color: #4A4A4A;
}







