@import "../partials/variablen";


$color-tickets-liste-hover : #e6e6e6;
$color-tickets-liste-active : #bfbbe6;

.ticket-liste-tag,
.ticket-liste-datum,
.ticket-liste-zeit,
.ticket-liste-info {
  font-size: 20px;

  position: relative;
  display: inline-block;
  min-width: 50px;
  //  border: solid 1px skyblue;
  height: 100%;

  color: $color-tickets-text-mittel;

}

.ticket-liste-tag {
  padding-left: 10px;
  width: 70px;
}

.ticket-liste-datum {
  font-weight: bold;
  width: 80px;
}

.ticket-liste-zeit {
  width: 80px;

}

.ticket-liste-info {
  font-size: 13px;
  padding: 1px;
  margin: 1px;
}

section .ticket-liste-kopf {
  text-align: center;

  h2 {
    font-family: "Lato-light","Lato", SFUIText, "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;

    font-size: 24px;
    color: $color-tickets-schmuck;
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: solid 2px $color-tickets-schmuck;

  }

}

.list-group-tickets .list-group-item {
  border: none;
  border-bottom: 2px solid silver;
}

.list-group-tickets .ticket-liste-trenner {
   border: none;
 }

.list-group-tickets{
  border: none;
}

.list-group-tickets{

  .list-group-item:hover{
    background-color: $color-tickets-liste-hover;
    cursor: pointer;

  }

  .list-group-item:active{
    background-color: $color-tickets-liste-active;
    cursor: pointer;

  }
}

li.list-group-item.ausgewaehlt{
  background-color: $color-tickets-buttons-success;
}