@import "../design/colors";
@import "../design/fonts";



table.help-keystroke {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em;
  margin: 20px;
  th, td {
    padding: 5px 20px;
  }

  th {
    color: $color-text-link;
    font-size: 1.5em;
  }
  td {
    font-style: italic;
  }
}

// https://stackoverflow.com/questions/18053408/vertically-centering-bootstrap-modal-window

#help-modal .modal-content {
  background-color: rgba(0, 0, 0, 0.8);

  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;

}



p.copywright {
  font-size: 0.7em;
}

.version {
  margin-left: 20PX;
  font-size: 0.8em;
  color: $color-console-background-bright;
}