$color-aufbauten: #d2d2d2;
$color-aufbauten-beschriftung: gray;

$color-sitz-border: white;
$color-sitz-border-hover: #a10090;

.bereich {
  position: relative;
  display: flex;
  justify-content: center;
}

.bereich.vorne {
  margin-top: 10px;
}

.bereich.mitte {
  margin-top: 10px;
}

.bereich.balkon {
  margin-top: 10px;
}

.abschnitt {
  position: relative;
  pointer-events: none;

}

.reihe {
  position: relative;
  display: flex;
}

.sitz {
  position: relative;
  width: 15px;
  height: 15px;

  border-radius: 10px;

  background-color: white;
  pointer-events: all;
  margin: 1px;
}

.versetzt {
  left: 9px;
}

.mitte-abschnitt-links {
  padding-left: 20px;
}

.mitte-abschnitt-rechts {
  padding-right: 20px;
}

// Kategorien:

.p-30 {
  background-color: #ad70bb;
}

.p-40 {
  background-color: #397a8b;
}

.p-50 {
  background-color: #86b884;
}

.p-55 {
  background-color: #8e9de2;
}

.p-60 {
  background-color: #cbbb39;
}

.p-70 {
  background-color: #006400;
}

.p-75 {
  background-color: deepskyblue;
}

.sitz:hover {
  background-color: $color-sitz-border-hover;
  cursor: pointer;
  border-color: $color-sitz-border-hover;
}

.versteckt {
  background-color: transparent;
  border-color: #c2c2c2;
}

#plan-content {
  user-select: none;
  margin: 0;
  padding: 0;
}

#bestuhlungs-layout {
  text-align: center;
  align-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#buehne {
  // inhalt einmitten
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  // Farbe
  background-color: $color-aufbauten;

  // Grösse
  width: 500px;
  height: 50px;

}

#orchestergraben {
  // inhalt einmitten
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  // Farbe
  background-color: $color-aufbauten;

  // Grösse
  width: 250px;
  height: 70px;

  margin-left: 10px;
  margin-right: 10px;

}

.beschriftung {
  color: $color-aufbauten-beschriftung;
  font-size: 15px;
}

.rollstuhl {
  background-color: #5139cb;
  margin-top: 20px;
}

.rechts .rollstuhl {
  margin-left: 40px;
}

.links .rollstuhl {
  margin-right: 40px;
}

.links.abgewinkelt,
.rechts.abgewinkelt {
  position: relative;
  top: -20px;
}

.links.abgewinkelt {
  transform: skewY(25deg);
}

.links.abgewinkelt .reihe {
  position: relative;
  transform: skewY(-25deg);
  top: -24px;
}

.rechts.abgewinkelt {
  transform: skewY(-25deg);
}

.rechts.abgewinkelt .reihe {
  position: relative;
  transform: skewY(25deg);
  top: 25px;
}

#plan-content {
  background-color: #fffbfd;
  color: black;
  width: 100vw;
}

#bestuhlungs-layout {
  position: relative;
  width: 100vw;
}


.abschnitt-name{
  position: absolute;
  flex: inherit;
  z-index: 2;
  margin-top: 10px;
  margin-left: auto;
  width: 100%;
  font-size: 9px;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1201px) {

  .sitz {
    width: 20px;
    height: 20px;
  }

  .sitz:hover {
  }

  #buehne {
    width: 400px;
    height: 40px;
  }

  #orchestergraben {
    width: 250px;
    height: 60px;
  }

  .beschriftung {
    font-size: 15px;
  }

  .bereich.vorne,
  .bereich.mitte,
  .bereich.balkon {
    margin-top: 20px;
  }

  .versetzt {
    left: 9px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

  .sitz {
    width: 15px;
    height: 15px;
  }

  .sitz:hover {
  }

  #buehne {
    width: 300px;
    height: 30px;
  }

  #orchestergraben {
    width: 200px;
    height: 60px;
  }

  .beschriftung {
    font-size: 15px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

  .sitz {
    width: 12px;
    height: 12px;
    border-radius: 3px;
  }

  .sitz:hover {
  }

  .versetzt {
    left: 9px;
  }

  #buehne {
    width: 300px;
    height: 30px;
  }

  #orchestergraben {
    width: 200px;
    height: 60px;
  }

  .beschriftung {
    font-size: 15px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 500px) {

  .abschnitt {
    position: relative;
    pointer-events: all;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.5;
  }

  .abschnitt:hover{
    opacity: 1;
  }

  .reihe {

  }

  .sitz {
    width: 10px;
    height: 10px;
    border-radius: 0;
    margin: 0;
    pointer-events: none;
  }

  .versetzt {
    left: 0;
  }

  #buehne {
    width: 200px;
    height: 20px;
  }

  #orchestergraben {
    padding-top: 7px;
    width: 100px;
    height: 30px;
  }

  .beschriftung {
    font-size: 12px;
  }

  .bereich.vorne,
  .bereich.mitte,
  .bereich.balkon {
    margin-top: 5px;

  }

  .mitte-abschnitt-links {
    padding-left: 5px;
  }

  .mitte-abschnitt-rechts {
    padding-right: 5px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

  .sitz {
  }

  #buehne {

    width: 200px;
    height: 20px;
  }

  #orchestergraben {

    width: 100px;
    height: 30px;
  }

  .beschriftung {
    font-size: 12px;
  }

  .bereich.vorne {
    margin-top: 10px;
  }

  .bereich.mitte {
    margin-top: 10px;
  }

  .bereich.balkon {
    margin-top: 10px;

  }
}


#solo-dock {
  .abschnitt {
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    opacity: 1;



  }

  .sitz {
    width: 25px;
    height: 25px;
    margin: 2px;
    pointer-events: all;
  }

}
