@import "../design/colors";
@import "../design/fonts";

// Messages
.message,
.message-default {
  color: $color-message;
}


.message-ok {
  color: $color-message-ok;
}

.message-warning {
  color: $color-message-warning;
}

.message-error {
  color: $color-message-error;
}

.tab-1{
  padding-left: 10px;
}
.tab-2{
  padding-left: 20px;
}
.tab-3{
  padding-left: 30px;
}

hr.console{
  padding: 0;
  margin: 4px 0;
  border: none;
  border-bottom: 1px solid $color-console-background-bright;
}