<div id="modal-buchen-content">
    <div id="modal-buchen" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- modal-content -->


                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="modal-buchen-taube">
                                    <span class="tas-pikto tas-pikto-carrier-pigeon"></span>
                                </div>
                            </div>

                            <div>
                                <div class="block-titel">
                                    <h1>Vielen Dank,</h1></div>
                                <div class="block-anleitung">
                                    <p> die Reservierung ist gebucht.</p>
                                    <p> Viel Spass an der Operette!</p>
                                </div>


                                <div class="block-optionen">
                                    <div class="modal-buchen-newsletter">
                                    <form>
                                        <div class="checkbox">

                                        <label for="buchen-newsletter">
                                            <input type="checkbox" name="buchen-newsletter" id="buchen-newsletter">

                                            <span class="text-klein">Ich möchte gerne über Neuigkeiten der Operette
                                                Möriken-Wildegg informiert werden.
                                                <br>
                                                (ca. 2 x pro Jahr)
                                            </span>
                                        </label>
                                        </div>
                                    </form>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <button class="btn btn-lg btn-tas-weiter btn-tas-zur-webseite" onclick="goToWebsite()">zurück zur Webseite</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal-center -->
</div> <!-- modal-center-content-->