<div id="editor-toolbar-side-content" class="shadow-display">

    <div id="toolbar-buttons">

        <!-- text -->
        <div class="side-toolbar-button"><span class="editor-button-35x40 side-toolbar-text-button"></span></div>

        <!-- Shape -->
        <div class="side-toolbar-button"><span class="editor-button-35x40 side-toolbar-shape-button"></span></div>

        <!-- image file -->
        <div class="side-toolbar-button"><span class="editor-button-35x40 side-toolbar-image_file-button"></span></div>

        <!-- code -->
        <div class="side-toolbar-button"><span class="editor-button-35x40 side-toolbar-code-button"></span></div>

        <!-- active zone -->
        <div class="side-toolbar-button"><span class="editor-button-35x40 side-toolbar-active-zone-button"></span></div>

        <!-- Seperator -->
        <div class="side-toolbar-button"><span class="side-toolbar-item side-toolbar-seperator"></span></div>

        <!-- character -->
        <div class="side-toolbar-button"><span class="editor-button-35x40 side-toolbar-character-button"></span></div>

    </div>

</div>
