<section class="section-ticket" id="adresse-content">

    <!-- Debug -->
    <div class="debug-page-name">Adresse</div>


    <!-- Kopf-Teil -->
    <header>

        <nav class="block-navigation">
            <!-- button zurück -->
            <button class="btn btn-tas-zurueck" onclick="goTo('sitzplan')">
                <span class="glyphicon glyphicon-chevron-left"></span>
                zurück
            </button>

        </nav>


        <!--Text Titel -->
        <div class="block-titel">
            <h1><span class="tas-pikto-title tas-pikto-address"></span>Adresse</h1>
        </div>

        <!-- Text Anleitung -->
        <div class="block-anleitung">
        </div>


    </header>


    <!-- Inhalt-Teil -->
    <article>

        <div class="adresse-container">

            <div class="container-fluid">
                <form>
                    <fieldset>
                        <!-- Address form -->

                        <!-- first-name input-->
                        <a name="address-anchor-first-name" ></a>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="address-form-input-first-name">Vorname</label>
                            <input id="address-form-input-first-name" name="first-name"
                                   class="form-control">
                        </div>


                        <!-- last-name input-->
                        <a name="address-anchor-last-name" ></a>

                        <div class="form-group has-feedback">
                            <label class="control-label" for="address-form-input-last-name">Nachname</label>
                            <input id="address-form-input-last-name" name="last-name" type="text" class="form-control">
                        </div>

                        <!-- organisation input-->
                        <a name="address-anchor-organisation" ></a>

                        <div class="form-group has-feedback">
                            <label class="control-label" for="address-form-input-organisation">Firma / Verein</label>
                            <input id="address-form-input-organisation" name="organisation" type="text"
                                   class="form-control">
                        </div>

                        <!-- address input-->
                        <a name="address-anchor-address" ></a>

                        <div class="form-group has-feedback">
                            <label class="control-label" for="address-form-input-address">Adresse</label>
                            <input id="address-form-input-address" name="address" type="text" class="form-control">
                        </div>


                        <!-- postal-code input-->
                        <a name="address-anchor-zip" ></a>
                        <a name="address-anchor-city" ></a>

                        <div class="form-group has-feedback row">

                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 address-form-plz">
                                <label class="control-label" for="address-form-input-zip">PLZ</label>
                                <input class="form-control" type="text" value="9000"
                                       name="zip"
                                       id="address-form-input-zip">
                            </div>

                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 address-form-city">
                                <label class="control-label" for="address-form-input-city">Ort</label>
                                <input class="form-control" type="text" value="Artisanal kale"
                                       name="city"
                                       id="address-form-input-city">
                            </div>
                        </div>

                        <hr>

                        <!-- telephone input-->
                        <a name="address-anchor-telephone" ></a>

                        <div class="form-group has-feedback">
                            <label class="control-label" for="address-form-input-telephone">Telefon</label>
                            <input id="address-form-input-telephone" name="telephone" type="tel" class="form-control">
                        </div>

                        <!-- email input-->
                        <a name="address-anchor-email" ></a>

                        <div class="form-group has-feedback">
                            <label class="control-label" for="address-form-input-email">E-Mail</label>
                            <input id="address-form-input-email" name="email" type="email" class="form-control">
                        </div>

                    </fieldset>

                    <hr>

                    <fieldset>

                        <!-- Checkbox Rechnung-->
                        <div class="control-group">

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked  name="rechnung-post"> Rechnung per Post schicken
                                </label>
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  name="rechnung-pdf"> Rechnung via E-Mail
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  name="rechnung-pdf"> An der Abendkasse bezahlen
                                </label>
                            </div>



                            <hr>

                            <!-- Checkbox AGB-->
                            <a name="address-anchor-agb" ></a>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Ich akzeptiere die <a href="agb" target="_blank">AGB <span
                                        class="glyphicon glyphicon-link"></span></a>
                                </label>
                            </div>

                        </div>

                    </fieldset>

                    <hr>

                    <div class="form-requrements">

                        <p>Diese Felder müssen ausgefüllt werden:</p>
                        <ul>
                            <li><a href="#address-anchor-first-name">Vorname</a></li>
                            <li><a href="#address-anchor-last-name">Nachname</a></li>
                            <li><a href="#address-anchor-address">Adresse</a></li>
                            <li><a href="#address-anchor-zip">PLZ</a></li>
                            <li><a href="#address-anchor-city">Ort</a></li>
                            <li><a href="#address-anchor-telephone">Telefon</a></li>
                            <li><a href="#address-anchor-email">E-Mail</a></li>
                            <li><a href="#address-anchor-agb">AGB</a></li>


                        </ul>
                    </div>


                </form>




            </div>


        </div>

    </article>


    <!-- Fuss-Teil -->
    <footer>

        <!-- Button "weiter zu" -->
        <button class="btn btn-block btn-lg btn-tas-weiter " onclick="goTo('zusammenfassung')">
            weiter zu Zusammenfassung anzeigen
        </button>

    </footer>


</section>