<section class="section-ticket" id="datum-content">

    <!-- Debug -->
    <div class="debug-page-name">Datum</div>


    <!-- Kopf-Teil -->
    <header>

        <nav class="block-navigation">
            <!-- button zurück -->
            <button class="btn btn-tas-zurueck">
                <span class="glyphicon glyphicon-chevron-left"></span>
                zurück
            </button>

        </nav>


        <!--Text Titel -->
        <div class="block-titel">
            <h1><span class="tas-pikto-title tas-pikto-calendar"></span> Datum</h1>
        </div>

        <!-- Text Anleitung -->
        <div class="block-anleitung">
            <p>wählen Sie ein Aufführungsdatum</p>
        </div>


    </header>


    <!-- Inhalt-Teil -->
    <article>

        <div class="datum-container">

            <div class="ticket-liste-kopf">

                <h2>Oktober</h2>

            </div>

            <ul class="list-group list-group-tickets">
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Sa</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon <br>ausverkauft</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Mi</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">spezieller Tag <br>für Gruppen</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Fr</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>

                <li class="list-group-item ticket-liste-trenner">
                </li>


                <li class="list-group-item">

                    <span class="ticket-liste-tag">Sa</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Mi</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Fr</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>

                <li class="list-group-item ticket-liste-trenner">
                </li>

                <li class="list-group-item">

                    <span class="ticket-liste-tag">Sa</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Mi</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Fr</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>


            </ul>

            <div class="ticket-liste-kopf">

                <h2>November</h2>

            </div>

            <ul class="list-group list-group-tickets">
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Sa</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon <br>ausverkauft</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Mi</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">spezieller Tag <br>für Gruppen</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Fr</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>

                <li class="list-group-item ticket-liste-trenner">
                </li>


                <li class="list-group-item">

                    <span class="ticket-liste-tag">Sa</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Mi</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Fr</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>

                <li class="list-group-item ticket-liste-trenner">
                </li>

                <li class="list-group-item">

                    <span class="ticket-liste-tag">Sa</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Mi</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>
                <li class="list-group-item">

                    <span class="ticket-liste-tag">Fr</span>

                    <span class="ticket-liste-datum">21.8.</span>

                    <span class="ticket-liste-zeit">19.00</span>

                    <span class="ticket-liste-info">Balkon</span>

                </li>

            </ul>

        </div>

    </article>


    <!-- Fuss-Teil -->
    <footer>

        <!-- Button "weiter zu" -->
        <button class="btn btn-block btn-lg btn-tas-weiter ">
            weiter zu
        </button>

    </footer>


</section>