<section class="section-ticket" id="sitzplan-content">

    <!-- Debug -->
    <div class="debug-page-name">Sitzplan</div>


    <!-- Kopf-Teil -->
    <header>

        <nav class="block-navigation">
            <!-- button zurück -->
            <button class="btn btn-tas-zurueck" onclick="goTo('datum')">
                <span class="glyphicon glyphicon-chevron-left"></span>
                zurück
            </button>

        </nav>


        <!--Text Titel -->
        <div class="block-titel">
            <h1><span class="tas-pikto-title tas-pikto-seat"></span>Sitzplan</h1>
        </div>

        <!-- Text Anleitung -->
        <div class="block-anleitung">
            <p>auf den gewünschten Bereich tippen</p>
        </div>

        <div class="plan-toolbox">
            <button class="btn btn-sm btn-tas-sm show-name-button-toggle" onclick="showAbschnittNames()">Namen
                einblenden
            </button>
        </div>

    </header>


    <!-- Inhalt-Teil -->


    <div id="plan-container"></div>


    <article class="preistabelle">


        <h3> Preiskategorien</h3>
            <table class="table preiskategorien">
                <tbody>
                <tr class="p-30" data-kat-preis="30" data-kat-abschnitt="orchester">
                    <td class="legende"></td>
                    <th class="kategorie">Orchesterplätze</th>
                    <td class="reihen"></td>
                    <td class="preis">30.–</td>
                    <td class="legende-last"></td>
                </tr>
                <tr>
                    <td class="unterbrecher" colspan="5">
                        <hr>
                    </td>
                </tr>
                <tr class="p-55" data-kat-preis="55" data-kat-abschnitt="parkett">
                    <td class="legende"></td>
                    <th class="kategorie">Parkett I</th>
                    <td class="reihen">Reihe 1-3</td>
                    <td class="preis">55.–</td>
                    <td class="legende-last"></td>
                </tr>
                <tr class="p-50" data-kat-preis="50" data-kat-abschnitt="parkett">
                    <td class="legende"></td>
                    <th class="kategorie">Parkett II</th>
                    <td class="reihen">Reihe 4-7</td>
                    <td class="preis">50.–</td>
                    <td class="legende-last"></td>
                </tr>
                <tr class="p-60" data-kat-preis="60" data-kat-abschnitt="parkett-seite">
                    <td class="legende"></td>
                    <th class="kategorie">Parkett III <span class="klein">(Seite)</span></th>
                    <td class="reihen">Reihe 1-9</td>
                    <td class="preis">60.-</td>
                    <td class="legende-last"></td>
                </tr>
                <tr class="p-40" data-kat-preis="40" data-kat-abschnitt="parkett-seite">
                    <td class="legende"></td>
                    <th class="kategorie">Parkett IV <span class="klein">(Seite)</span></th>
                    <td class="reihen">Reihe 1-9</td>
                    <td class="preis">40.–</td>
                    <td class="legende-last"></td>
                </tr>
                <tr>
                    <td class="unterbrecher" colspan="5">
                        <hr>
                    </td>
                </tr>
                <tr class="p-60" data-kat-preis="60" data-kat-abschnitt="estrade">
                    <td class="legende"></td>
                    <th class="kategorie">Estrade I</th>
                    <td class="reihen">Reihe 8 / 10</td>
                    <td class="preis">60.–</td>
                    <td class="legende-last"></td>
                </tr>
                <tr class="p-55" data-kat-preis="55" data-kat-abschnitt="estrade">
                    <td class="legende"></td>
                    <th class="kategorie">Estrade II</th>
                    <td class="reihen">Reihe 9 / 11</td>
                    <td class="preis">55.–</td>
                    <td class="legende-last"></td>
                </tr>
                <tr class="p-60" data-kat-preis="60" data-kat-abschnitt="estrade-seite">
                    <td class="legende"></td>
                    <th class="kategorie">Estrade III <span class="klein">(Seite)</span></th>
                    <td class="reihen">Reihe 10 / 11</td>
                    <td class="preis">60.–</td>
                    <td class="legende-last"></td>
                </tr>

                <tr class="p-55" data-kat-preis="55" data-kat-abschnitt="estrade-seite">
                    <td class="legende"></td>
                    <th class="kategorie">Estrade IV <span class="klein">(Seite)</span></th>
                    <td class="reihen">Reihe 10 / 11</td>
                    <td class="preis">55.-</td>
                    <td class="legende-last"></td>
                </tr>

                <tr>
                    <td class="unterbrecher" colspan="5">
                        <hr>
                    </td>
                </tr>
                <tr class="p-75" data-kat-preis="75" data-kat-abschnitt="balkon">
                    <td class="legende"></td>
                    <th class="kategorie">Balkon I</th>
                    <td class="reihen">Reihe 1-5</td>
                    <td class="preis">75.–</td>
                    <td class="legende-last"></td>
                </tr>
                <tr class="p-70" data-kat-preis="70" data-kat-abschnitt="balkon">
                    <td class="legende"></td>
                    <th class="kategorie">Balkon II</th>
                    <td class="reihen">Reihe 6-8</td>
                    <td class="preis">70.–</td>
                    <td class="legende-last"></td>

                </tr>
                </tbody>
            </table>

    </article>


    <!-- Fuss-Teil -->
    <footer>

        <!-- Button "weiter zu" -->
        <button class="btn btn-block btn-lg btn-tas-weiter" onclick="goTo('adresse')">
            weiter zu
        </button>

    </footer>


</section>