<section class="section-ticket" id="vorlage-content">

    <!-- Debug -->
    <div class="debug-page-name">Sitzplan</div>


    <!-- Kopf-Teil -->
    <header>

        <nav class="block-navigation">
            <!-- button zurück -->
            <button class="btn btn-tas-zurueck">
                <span class="glyphicon glyphicon-chevron-left"></span>
                zurück
            </button>

        </nav>


        <!--Text Titel -->
        <div class="block-titel">
            <h1><span class="tas-pikto-title tas-pikto-seat"></span>Sitzplan</h1>
        </div>

        <!-- Text Anleitung -->
        <div class="block-anleitung">
            <p>Tippen Sie auf den gewünschten Bereich</p>
        </div>


    </header>


    <!-- Inhalt-Teil -->
    <div id="plan-container"></div>


    <article>


        <h3> Preiskategorien</h3>
        <table class="preiskategorien">
            <tbody>
            <tr>
                <th colspan="2">Orchesterplätze</th>
                <td>30.–</td>
            </tr>
            <tr>
                <td class="unterbrecher" colspan="3">
                    <hr>
                </td>
            </tr>
            <tr>
                <th class="kategorie">Parkett I</th>
                <td class="reihen">Reihe 1-3</td>
                <td class="preis">55.–</td>
            </tr>
            <tr>
                <th>Parkett II</th>
                <td>Reihe 4-7</td>
                <td>50.–</td>
            </tr>
            <tr>
                <th class="kategorie">Parkett III <span class="klein">(Seite)</span></th>
                <td>Reihe 1-9</td>
                <td>60.- / 40.–</td>
            </tr>
            <tr>
                <td class="unterbrecher" colspan="3">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>Estrade I</th>
                <td>Reihe 8 / 10</td>
                <td>60.–</td>
            </tr>
            <tr>
                <th>Estrade II</th>
                <td>Reihe 9 / 11</td>
                <td>55.–</td>
            </tr>
            <tr>
                <th class="kategorie">Estrade III <span class="klein">(Seite)</span></th>
                <td>Reihe 10 / 11</td>
                <td>60.– / 55.-</td>
            </tr>
            <tr>
                <td class="unterbrecher" colspan="3">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>Balkon I</th>
                <td>Reihe 1-5</td>
                <td>75.–</td>
            </tr>
            <tr>
                <th>Balkon II</th>
                <td>Reihe 6-8</td>
                <td>70.–</td>
            </tr>
            <tr>
                <td class="unterbrecher" colspan="3">
                    <hr>
                </td>
            </tr>
            </tbody>
        </table>




    </article>


    <!-- Fuss-Teil -->
    <footer>

        <!-- Button "weiter zu" -->
        <button class="btn btn-block btn-lg btn-tas-weiter ">
            weiter zu
        </button>

    </footer>


</section>