<section class="section-ticket" id="start-content">

    <!-- Debug -->
    <div class="debug-page-name">Start</div>


    <!-- Kopf-Teil -->
    <header>

        <nav class="block-navigation">
            <!-- button zurück -->
            <button class="btn btn-tas-zurueck"><span class="glyphicon glyphicon-chevron-left"></span> zurück
            </button>

        </nav>


        <!--Text Titel -->
        <div class="block-titel">
            <h1>Tickets</h1>
        </div>

        <!-- Text Anleitung -->
        <div class="block-anleitung">
            <h2>hier können Sie schnell und <br> einfach Tickets bestellen</h2>
        </div>


    </header>


    <!-- Inhalt-Teil -->
    <article>
        <div class="start-drei-schritte">
            <p class="text-klein">Sie werden in 3 Schritten  <br>
                durch die Bestellung
                geführt:</p>
        </div>

        <div class="start-schritt-container">

            <div class="start-schritt">
                <div class="start-pikto">
                    <span class="tas-pikto tas-pikto-calendar"></span>
                </div>

                <div class="start-pikto-beschreibung">
                    <span class="info-normal">Datum <br> wählen</span>
                </div>
            </div>


            <div class="start-next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>


            <div class="start-schritt">
                <div class="start-pikto">
                    <span class="tas-pikto tas-pikto-seat"></span>
                </div>
                <div class="start-pikto-beschreibung">
                    <span class="info-normal">Sitze <br> wählen</span>
                </div>
            </div>


            <div class="start-next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>


            <div class="start-schritt">
                <div class="start-pikto">
                    <span class="tas-pikto tas-pikto-address"></span>
                </div>
                <div class="start-pikto-beschreibung">
                    <span class="info-normal">Adresse <br> eingeben</span>
                </div>
            </div>
        </div>

    </article>


    <!-- Fuss-Teil -->
    <footer>

        <!-- Button "weiter zu" -->
        <button class="btn btn-block btn-lg btn-tas-weiter ">
            los gehts!
        </button>


    </footer>


</section>