<section class="section-ticket" id="start-content">

    <!-- Debug -->
    <div class="debug-page-name">Start</div>


    <!-- Kopf-Teil -->
    <header>

        <nav class="block-navigation">
            <!-- button zurück -->
            <button class="btn btn-tas-zurueck"><span class="glyphicon glyphicon-chevron-left"></span> zurück
            </button>

        </nav>


        <!--Text Titel -->
        <div class="block-titel">
            <h1>Tickets</h1>
        </div>

        <!-- Text Anleitung -->
        <div class="block-anleitung">
            <p>hier können Sie schnell und <br> einfach Tickets bestellen</p>
        </div>


    </header>


    <!-- Inhalt-Teil -->
    <article>
        <div class="start-drei-schritte">
            <p class="text-klein">Sie werden in 3 Schritten  <br>
                durch die Bestellung
                geführt:</p>
        </div>

        <div class="start-schritt-container">

            <div class="start-schritt">
                <div class="start-pikto">
                    <span class="tas-pikto tas-pikto-calendar"></span>
                </div>

                <div class="start-pikto-beschreibung">
                    <span class="info-normal">Datum <br> wählen</span>
                </div>
            </div>


            <div class="start-next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>


            <div class="start-schritt">
                <div class="start-pikto">
                    <span class="tas-pikto tas-pikto-seat"></span>
                </div>
                <div class="start-pikto-beschreibung">
                    <span class="info-normal">Sitze <br> wählen</span>
                </div>
            </div>


            <div class="start-next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>


            <div class="start-schritt">
                <div class="start-pikto">
                    <span class="tas-pikto tas-pikto-address"></span>
                </div>
                <div class="start-pikto-beschreibung">
                    <span class="info-normal">Adresse <br> eingeben</span>
                </div>
            </div>
        </div>

        <h3>Allgemeine Informationen</h3>
        <ul class="allgemeine-informationen">
            <li>Garderobe und Operettenmagazin sind gratis!</li>
            <li>Keine Bearbeitungsgebühren.</li>
            <li>Telefonischer Vorverkauf ist möglich jeweils <br>
                Mo / Mi / Fr, von 14.00 bis 16.00 auf <br>
                <strong>062 893 27 38</strong></li>
            <li>Oder persönlich im Vorverkaufsbüro im UG des Gemeindesaals Möriken zu gleichen Zeiten</li>
            <li><strong>Möchten Sie vor oder nach der Aufführung etwas essen?</strong> Unser Vorverkaufsteam berät Sie
                gerne und
                hilft auch bei der Platzreservation in einem Restaurant in der Nähe.
            </li>
        </ul>
    </article>


    <!-- Fuss-Teil -->
    <footer>

        <!-- Button "weiter zu" -->
        <button class="btn btn-block btn-lg btn-tas-weiter ">
            los gehts!
        </button>


    </footer>


</section>