<section class="section-ticket" id="vorlage-content">

    <!-- Debug -->
    <div class="debug-page-name">Vorlage</div>


    <!-- Kopf-Teil -->
    <header>

        <nav class="block-navigation">
            <!-- button zurück -->
            <button class="btn btn-tas-zurueck">
                <span class="glyphicon glyphicon-chevron-left"></span>
                zurück
            </button>

        </nav>


        <!--Text Titel -->
        <div class="block-titel">
            <h1>Vorlage</h1>
        </div>

        <!-- Text Anleitung -->
        <div class="block-anleitung">
            <h2>Hier beschreiben was gemacht werden muss</h2>
        </div>


    </header>


    <!-- Inhalt-Teil -->
    <article>

        <div class="vorlage-container">

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">14</span>
                    Cras justo odio
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    Cras justo odio
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    Cras justo odio
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    Cras justo odio
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    Cras justo odio
                </li>
            </ul>


        </div>

    </article>


    <!-- Fuss-Teil -->
    <footer>

        <!-- Button "weiter zu" -->
        <button class="btn btn-block btn-lg btn-tas-weiter ">
            weiter zu
        </button>

    </footer>


</section>