<section class="section-ticket" id="zusammenfassung-content">

    <!-- Debug -->
    <div class="debug-page-name">zusammenfassung</div>


    <!-- Kopf-Teil -->
    <header>

        <nav class="block-navigation">
            <!-- button zurück -->
            <button class="btn btn-tas-zurueck" onclick="goTo('sitzplan')">
                <span class="glyphicon glyphicon-chevron-left"></span>
                zurück
            </button>

        </nav>


        <!--Text Titel -->
        <div class="block-titel">
            <h1>Zusammenfassung</h1>
        </div>


    </header>


    <!-- Inhalt-Teil -->
    <article>

        <h2>Aufführung</h2>

        <div class="zsf-auffuehrung">

            <div class="zsf-auffuehrung-anbieter">Operette Möriken / Wildegg</div>
            <div class="zsf-auffuehrung-titel">Gräfin Mariza</div>
            <div class="zsf-auffuehrung-datum">MIttwoch 25.Oktober</div>
        </div>

        <h2>Rechnung an</h2>

        <h3>Adresse</h3>
        <address>
            <div>
                <strong>
                    <span class="zfs-first-name">Hans-Ruedi</span>
                    <span class="zsf-last-name">Muster</span>
                </strong>
            </div>
            <div class="zsf-organisation">Jagdverein «Ha Bock»</div>
            <div class="zsf-address">Hauptstrasse 22</div>
            <div>
                <span class="zsf-zip">9002</span>
                <span class="zsf-city">Flawellsbach</span>
            </div>
            <hr>
            <div class="zsf-telephone">062 656 12 12</div>
            <div class="zsf-email">hans-muster@bluewin.ch</div>
        </address>

        <h3>Lieferung und Rechnung</h3>
        <div>
            <ul>
                <li>Ticketlieferung per Post</li>
                <li>Rechnung via E-mail</li>
                <li>Rechnung per Post</li>
            </ul>
        </div>


    </article>

    <article>
        <h2>Ticketübersicht</h2>

        <h3 class="sitz-liste-abschnitt">Balkon links</h3>

        <ul class="list-group list-group-sitze">
            <li class="list-group-item">

                <span class="sitz-liste-reihe"><span class="sitz-liste-klein">Reihe</span>3</span>

                <span class="sitz-liste-nummer"><span class="sitz-liste-klein">Nr.</span>123</span>

                <span class="sitz-liste-preis">70.-</span>

                <span class="sitz-liste-gutschein">
                       <span class="tas-radio tas-radio-active"> <span class="tas-radio-outer"> <span
                               class="tas-radio-inner"></span></span></span> <span
                        class="sitz-liste-klein">Gutschein</span>
                </span>
            </li>

            <li class="list-group-item">

                <span class="sitz-liste-reihe"><span class="sitz-liste-klein">Reihe</span>3</span>

                <span class="sitz-liste-nummer"><span class="sitz-liste-klein">Nr.</span>123</span>

                <span class="sitz-liste-preis">70.-</span>

                <span class="sitz-liste-gutschein">
                       <span class="tas-radio"> <span class="tas-radio-outer"> <span
                               class="tas-radio-inner"></span></span></span> <span
                        class="sitz-liste-klein">Gutschein</span>
                </span>

            </li>
            <li class="list-group-item">

                <span class="sitz-liste-reihe"><span class="sitz-liste-klein">Reihe</span>3</span>

                <span class="sitz-liste-nummer"><span class="sitz-liste-klein">Nr.</span>123</span>

                <span class="sitz-liste-preis">70.-</span>

                <span class="sitz-liste-gutschein">
                       <span class="tas-radio"> <span class="tas-radio-outer"> <span
                               class="tas-radio-inner"></span></span></span> <span
                        class="sitz-liste-klein">Gutschein</span>
                </span>
            </li>

        </ul>
        <h3 class="sitz-liste-abschnitt">Estrade rechts</h3>

        <ul class="list-group list-group-sitze">
            <li class="list-group-item">

                <span class="sitz-liste-reihe"><span class="sitz-liste-klein">Reihe</span>3</span>

                <span class="sitz-liste-nummer"><span class="sitz-liste-klein">Nr.</span>123</span>

                <span class="sitz-liste-preis">70.-</span>

                <span class="sitz-liste-gutschein">
                       <span class="tas-radio tas-radio-active"> <span class="tas-radio-outer"> <span
                               class="tas-radio-inner"></span></span></span> <span
                        class="sitz-liste-klein">Gutschein</span>
                </span>
            </li>

            <li class="list-group-item">

                <span class="sitz-liste-reihe"><span class="sitz-liste-klein">Reihe</span>3</span>

                <span class="sitz-liste-nummer"><span class="sitz-liste-klein">Nr.</span>123</span>

                <span class="sitz-liste-preis">70.-</span>

                <span class="sitz-liste-gutschein">
                       <span class="tas-radio"> <span class="tas-radio-outer"> <span
                               class="tas-radio-inner"></span></span></span> <span
                        class="sitz-liste-klein">Gutschein</span>
                </span>

            </li>
            <li class="list-group-item">

                <span class="sitz-liste-reihe"><span class="sitz-liste-klein">Reihe</span>3</span>

                <span class="sitz-liste-nummer"><span class="sitz-liste-klein">Nr.</span>123</span>

                <span class="sitz-liste-preis">70.-</span>

                <span class="sitz-liste-gutschein">
                       <span class="tas-radio"> <span class="tas-radio-outer"> <span
                               class="tas-radio-inner"></span></span></span> <span
                        class="sitz-liste-klein">Gutschein</span>
                </span>
            </li>

        </ul>

        <h3 class="sitz-liste-abschnitt">Rollstuhl rechts</h3>

        <ul class="list-group list-group-sitze">
            <li class="list-group-item">

                <span class="sitz-liste-reihe"><span class="sitz-liste-klein">Reihe</span>1</span>

                <span class="sitz-liste-nummer"><span class="sitz-liste-klein">Nr.</span>2</span>

                <span class="sitz-liste-preis">0.-</span>

                <span class="sitz-liste-gutschein">
                       <span class="tas-radio tas-radio-active"> <span class="tas-radio-outer"> <span
                               class="tas-radio-inner"></span></span></span> <span
                        class="sitz-liste-klein">Gutschein</span>
                </span>
            </li>
        </ul>

        <div class="sitz-liste-total">

            <span class="sitz-liste-total-sitze">
                <label for="total-sitze">Tickets</label>
            <span id="total-sitze">7</span>
                </span>
            <span class="sitz-liste-total-preis">
                <label for="total-preis">TOTAL</label>
            <span id="total-preis">375.-</span>
                </span>

        </div>

    </article>


    <!-- Fuss-Teil -->
    <footer>

        <!-- Button "weiter zu" -->
        <button class="btn btn-block btn-lg btn-tas-buchen" onclick="buchen()">
            buchen
        </button>

    </footer>


</section>