// console
$color-console-background: rgba(23, 17, 57, 0.8);
$color-console-background-dark: rgba(9, 7, 22, 0.88);
$color-console-background-bright: rgba(63, 133, 146, 0.88);

// Message / Text
$color-message: rgb(195, 209, 255);
$color-message-ok: rgb(114, 255, 118);
$color-message-error: rgb(255, 105, 109);
$color-message-warning: rgb(255, 218, 108);

// Grau
$color-gray: rgb(104, 104, 104);
$color-black: rgb(0, 0, 0);
$color-background: rgb(34, 34, 34);
$color-nav-text: rgb(104, 104, 104);

// Links
$color-text-link: rgb(6, 126, 96);
$color-text-link-hover: rgb(8, 158, 120);
$color-text-link-active: rgb(180, 233, 216);

// Buttons
$color-button: rgb(34, 34, 34);
$color-button-hover: rgb(13, 13, 13);
$color-button-active: rgb(67, 67, 67);

// Display
$color-display-title: rgb(129, 129, 129);

$color-display-text: rgb(218, 209, 198);
$color-display-text-dark: rgb(102, 102, 102);

$color-display-link: rgb(102, 102, 102);
$color-display-link-hover: $color-display-text;
$color-display-link-active: $color-text-link-hover;

$color-display-background: rgb(48, 48, 48);
$color-display-background-bright: rgb(69, 69, 69);

