<div id="console-content"  style="display: none">

    <div id="console-toolbar">
        <div class="console-toolbar-item console-status"
             id="console-toolbar-status">console
        </div>
        <div class="console-toolbar-item" id="console-toolbar-test"><a
                class="console-test">[test]</a></div>
        <div class="console-toolbar-item" id="console-toolbar-clear"><a
                class="console-clear">[clear]</a></div>

    </div>
    <div id="console-main">

    </div>

</div>
<div class="console-ready"></div>