<div class="help-content">
    <!-- Modal -->
    <div class="modal" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">A Niver Way <span class="version"></span></h4>
                        </div>
                        <div class="modal-body">

                            <h4>Tastaturkürzel:</h4>
                            <div class="spalten">


                                <table class="help-keystroke">
                                    <tr>
                                        <th>s</th>
                                        <td>Simulator</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>h</th>
                                        <td>Diese Hilfe</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>n</th>
                                        <td>Navigation</td>
                                        <td></td>
                                    </tr>
                                </table>


                                <table class="help-keystroke">
                                    <tr>
                                        <th><span class="glyphicon glyphicon-arrow-left"></span></th>
                                        <td>vorheriger Zeitpunkt</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th><span class="glyphicon glyphicon-arrow-right"></span></th>
                                        <td>nächster Zeitpunkt</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th><span class="glyphicon glyphicon-arrow-up"></span></th>
                                        <td>letzter Zeitpunkt</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th><span class="glyphicon glyphicon-arrow-down"></span></th>
                                        <td>erster Zeitpunkt</td>
                                        <td></td>
                                    </tr>

                                </table>


                            </div>


                            <p class="copywright">© Oliver Steiner | IMD 2017 | St. Gallen</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="help-ready"></div>