<div id="modal-plan-content">

    <div id="modal-plan" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- modal-content -->

                <!-- inline Remote ModusDemo ore open in new Window-->

                <div id="modal-abschnitt-solo" style="display:none;">
                    <div class="well well-transparent">

                        <div id="solo-dock"></div>
                    </div>
                </div>



                <!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>