<div id="plan-content" class="uebersicht-modus">



    <div id="bestuhlungs-layout">
        <!-- Bühne -->
        <div class="bereich buehne">
            <div id="buehne">
                <div class="beschriftung">Bühne</div>
            </div>
        </div>

        <!-- Orchester -->
        <div class="bereich orchester">

            <!-- orchester-links-rollstuhl -->
            <div id="orchester-links-rollstuhl" class="abschnitt links">
                <div class="abschnitt-name">Rollstuhl links</div>

                <div class="reihe">
                    <div class="sitz rollstuhl"></div>
                </div>
            </div>

            <!-- orchester-links -->
            <div id="orchester-links" class="abschnitt">
                <div class="abschnitt-name">Orchester links</div>

                <!-- Reihe 1-->
                <div class="reihe">
                    <div class="sitz p-30"></div>
                    <div class="sitz p-30"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe">
                    <div class="sitz p-30"></div>
                    <div class="sitz p-30"></div>
                </div>

                <!-- Reihe 3 -->
                <div class="reihe">
                    <div class="sitz p-30"></div>
                    <div class="sitz p-30"></div>
                </div>
            </div>

            <!-- orchestergraben -->
            <div id="orchestergraben">
                <div class="beschriftung">Orchester</div>
            </div>

            <!-- orchester-rechts -->
            <div id="orchester-rechts" class="abschnitt">

                <!-- Beschriftung -->
                <div class="abschnitt-name">Orchester rechts</div>

                <!-- Reihe 1-->
                <div class="reihe">
                    <div class="sitz p-30"></div>
                    <div class="sitz p-30"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe">
                    <div class="sitz p-30"></div>
                    <div class="sitz p-30"></div>
                </div>

                <!-- Reihe 3 -->
                <div class="reihe">
                    <div class="sitz p-30"></div>
                    <div class="sitz p-30"></div>
                </div>
            </div>

            <!-- orchester-rechts-rollstuhl -->
            <div id="orchester-rechts-rollstuhl" class="abschnitt rechts">
                <div class="abschnitt-name">Rollstuhl rechts</div>

                <!-- Reihe 1-->
                <div class="reihe">
                    <div class="sitz rollstuhl"></div>
                </div>

            </div>

        </div>

        <!-- vorne -->
        <div class="bereich vorne">

            <!--seitenestrade-links-->
            <div class="abschnitt seitenestrade links abgewinkelt">
                <div class="abschnitt-name">Seitenestrade links</div>

                <!-- Reihe 1-->
                <div class="reihe">
                    <div class="sitz p-30"></div>
                    <div class="sitz p-30"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe">
                    <div class="sitz p-30"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 3 -->
                <div class="reihe">
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe">
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 5 -->
                <div class="reihe">
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 6 -->
                <div class="reihe">
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 7 -->
                <div class="reihe">
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

            </div>

            <!--parkett-links-->
            <div class="abschnitt parkett links  mitte-abschnitt-links">
                <div class="abschnitt-name">Parkett links</div>

                <!-- Reihe 1 - 11 sitze-->
                <div class="reihe">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe versetzt">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                </div>

                <!-- Reihe 3 -->
                <div class="reihe">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe versetzt">
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                </div>

                <!-- Reihe 5 -->
                <div class="reihe">
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                </div>

                <!-- Reihe 6 -->
                <div class="reihe versetzt">
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                </div>

                <!-- Reihe 7 -->
                <div class="reihe">
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                </div>

            </div>

            <!--parkett-rechts-->
            <div class="abschnitt parkett rechts  mitte-abschnitt-rechts">
                <div class="abschnitt-name">Parkett rechts</div>

                <!-- Reihe 1 - 10 sitze-->
                <div class="reihe">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe versetzt">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                </div>

                <!-- Reihe 3 -->
                <div class="reihe">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe versetzt">
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                </div>

                <!-- Reihe 5 -->
                <div class="reihe">
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                </div>

                <!-- Reihe 6 -->
                <div class="reihe versetzt">
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                </div>

                <!-- Reihe 7 -->
                <div class="reihe">
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>
                    <div class="sitz p-50"></div>

                    <div class="sitz p-50"></div>
                </div>

            </div>

            <!--seitenestrade-rechts-->
            <div class="seitenestrade rechts abschnitt abgewinkelt">

                <!-- Beschriftung -->
                <div class="abschnitt-name">Seitenestrade rechts</div>

                <!-- Reihe 1-->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-30"></div>
                    <div class="sitz p-30"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-30"></div>
                </div>

                <!-- Reihe 3 -->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                </div>

                <!-- Reihe 5 -->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                </div>

                <!-- Reihe 6 -->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                </div>

                <!-- Reihe 7 -->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                </div>

            </div>

        </div>

        <!-- mitte -->
        <div class="bereich mitte">

            <!--seitenestrade-links-->
            <div class="seitenestrade links abschnitt">

                <!-- Beschriftung -->
                <div class="abschnitt-name">Seitenestrade links</div>

                <!-- Reihe 1-->
                <div class="reihe">
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe">
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 3 -->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz versteckt"></div>
                    <div class="sitz versteckt"></div>
                    <div class="sitz versteckt"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz versteckt"></div>
                    <div class="sitz versteckt"></div>
                    <div class="sitz versteckt"></div>
                </div>
            </div>

            <!--estrade-links-->
            <div class="estrade links abschnitt  mitte-abschnitt-links">

                <!-- Beschriftung -->
                <div class="abschnitt-name">Estrade links</div>

                <!-- Reihe 1 - 11 sitze-->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe versetzt">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                </div>

                <!-- Reihe 3 - 11 sitze-->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe versetzt">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                </div>


            </div>

            <!--estrade-rechts-->
            <div class="estrade rechts abschnitt mitte-abschnitt-rechts">

                <!-- Beschriftung -->
                <div class="abschnitt-name">Estrade rechts</div>

                <!-- Reihe 1 - 10 sitze-->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe versetzt">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                </div>

                <!-- Reihe 3 - 10 sitze-->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>

                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe versetzt">
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>

                    <div class="sitz p-55"></div>
                </div>


            </div>

            <!--seitenestrade-rechts-->
            <div class="seitenestrade rechts abschnitt">

                <!-- Beschriftung -->
                <div class="abschnitt-name">Seitenestrade rechts</div>

                <!-- Reihe 1-->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe">
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-40"></div>

                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                    <div class="sitz p-40"></div>
                </div>

                <!-- Reihe 3 -->
                <div class="reihe">
                    <div class="sitz versteckt"></div>
                    <div class="sitz versteckt"></div>
                    <div class="sitz versteckt"></div>

                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                    <div class="sitz p-60"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe">
                    <div class="sitz versteckt"></div>
                    <div class="sitz versteckt"></div>
                    <div class="sitz versteckt"></div>

                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                    <div class="sitz p-55"></div>
                </div>

            </div>

        </div>

        <!-- balkon -->
        <div class="bereich balkon">

            <!--balkon-links-->
            <div class="balkon links abschnitt">

                <!-- Beschriftung -->
                <div class="abschnitt-name">Balkon links</div>

                <!-- Reihe 1 - 12 sitze-->
                <div class="reihe">
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe">
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>

                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                </div>

                <!-- Reihe 3-->
                <div class="reihe">
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>

                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe">
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>

                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                </div>

                <!-- Reihe 5 -->
                <div class="reihe">
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>

                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                </div>

                <!-- Reihe 6 (70)-->
                <div class="reihe">
                    <div class="sitz p-70 versteckt"></div>
                    <div class="sitz p-70 versteckt"></div>
                    <div class="sitz p-70 versteckt"></div>

                    <div class="sitz p-70 versteckt"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                </div>

                <!-- Reihe 7 (70) -->
                <div class="reihe">
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70 versteckt"></div>

                    <div class="sitz p-70 versteckt"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                </div>

                <!-- Reihe 8 (70) -->
                <div class="reihe">
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                </div>

            </div>

            <!--balkon-rechts-->
            <div class="balkon rechts abschnitt">

                <!-- Beschriftung -->
                <div class="abschnitt-name">Balkon rechts</div>

                <!-- Reihe 1 - 12 sitze-->
                <div class="reihe">
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                </div>

                <!-- Reihe 2 -->
                <div class="reihe">
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75 versteckt"></div>

                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                </div>

                <!-- Reihe 3-->
                <div class="reihe">
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75 versteckt"></div>

                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                </div>

                <!-- Reihe 4 -->
                <div class="reihe">
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75 versteckt"></div>

                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                </div>

                <!-- Reihe 5 -->
                <div class="reihe">
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>

                    <div class="sitz p-75"></div>
                    <div class="sitz p-75"></div>
                    <div class="sitz p-75 versteckt"></div>

                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                    <div class="sitz p-75 versteckt"></div>
                </div>

                <!-- Reihe 6 (70)-->
                <div class="reihe">
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70 versteckt"></div>

                    <div class="sitz p-70 versteckt"></div>
                    <div class="sitz p-70 versteckt"></div>
                    <div class="sitz p-70 versteckt"></div>
                </div>

                <!-- Reihe 7 (70) -->
                <div class="reihe">
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70 versteckt"></div>

                    <div class="sitz p-70 versteckt"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                </div>

                <!-- Reihe 8 (70) -->
                <div class="reihe">
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>

                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                    <div class="sitz p-70"></div>
                </div>

            </div>

        </div>

    </div>

</div>
