<div id="status-display-content">
    <div class="status-display-navbar">
<!--        <div class="status-display-elem" id="status-display-feeling" >Feeling</div>
        <div class="status-display-elem" id="status-display-date" >Datum</div>-->
        <div class="status-display-elem" id="status-display-place" >Ort</div>
        <div class="status-display-elem smartphone-sim-button-toggle" >
            <span id="status-display-smartphone"></span>
        </div>

    </div>
</div>
<div id="status-display-ready"></div>